---
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import Carousel from "../components/Carousel.astro";
import Sectionwrapper from "../components/Sectionwrapper.astro";
import Signupbackground from "../components/Signupbackground.astro";
import Products from "../components/Products.astro";
import Shopbox from "../components/Shopbox.astro";
import Gallery from "../components/Gallery.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Bareen</title>
    <link rel="stylesheet" href="style.css" />
  </head>
</html>

<Navigation />
<Hero />
<Carousel />
<Sectionwrapper />
<Signupbackground />
<Products />
<Shopbox />
<Gallery />
<Footer />
